# dependencies
node_modules/
/.pnp
.pnp.js

# build output
/dist
/dist-ssr

# deployment scratch space
/.deploy-gh-pages/
/.gh-pages-worktree/

# env files
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*

# system files
.DS_Store